@font-face {
	font-family: "AkzidenzGrotesk-Bold";
	src: url("file:///C:/Users/viznu/OneDrive/Documents/Asset_Web/fonts/AkzidenzGrotesk-Bold.otf")
	format("opentype");
}
	
@font-face {
	font-family: "AkzidenzGrotesk-Regular";
	src: url("file:///C:/Users/viznu/OneDrive/Documents/Asset_Web/fonts/AkzidenzGrotesk-Regular.otf")
	format("opentype");
}