@font-face {
  font-family: "AkzidenzGrotesk-Bold";
  src: url("file:///C:\Users\viznu\OneDrive\Documents\Projects\trenmaya\Fonts\AkzidenzGrotesk-Bold.otf")
  format("opentype");
}
  
@font-face {
  font-family: "AkzidenzGrotesk-Regular";
  src: url("file:///C:\Users\viznu\OneDrive\Documents\Projects\trenmaya\Fonts\AkzidenzGrotesk-Regular.otf")
  format("opentype");
}

h1
{
  font-family: "AkzidenzGrotesk-Regular";
  font-size: 10vw;
  color: #53524aff;
  text-align: center;
}
p{

  font-family: "AkzidenzGrotesk-Regular";
  font-size: 4vw;
  color: #53524aff;
}
body
{
  background-color: #84bac4;
  align-content: center;  
  margin: 0px;
}


nav ul li
{
  display: inline;
  margin: 0 20px;
  font-family: "AkzidenzGrotesk-Regular";
  font-size: 5vw;  
  flex-flow: row wrap;
  position: relative;
}

a
{
  font-family: "AkzidenzGrotesk-Regular";
  color: #53524aff;
}



    





.img1
{
  box-sizing: border-box;
  width: 100%;
  max-width: 600px; 
  margin-bottom: 20px;
  border: 10px solid #444;
}



.img2
{
  width: 100%;
  height: 100%;


  

 
}

.flex-container
{

  display: inline-flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
}
.caja 
{
 
  background-color: #84bac4;
  color: black;   
  text-align: center;
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.c1
{ 
  width: 100%;
  height: 50%;
  text-align: center;
  position: relative;
}
.c2
{

  width: 100%;   
  justify-content:center;
  position: relative;
  
}
.c3
{
  width: 100%;
  text-align: center; 
  justify-content: flex-center;
  position: relative;
}
.c4
{  

 text-align: center;
  justify-content: flex-end;
  botton:0;

}

