@font-face {
	font-family: "AkzidenzGrotesk-Bold";
	src: url("file:///C:\Users\viznu\OneDrive\Documents\Projects\trenmaya\Fonts\AkzidenzGrotesk-Bold.otf")
	format("opentype");
}
	
@font-face {
	font-family: "AkzidenzGrotesk-Regular";
	src: url("file:///C:\Users\viznu\OneDrive\Documents\Projects\trenmaya\Fonts\AkzidenzGrotesk-Regular.otf")
	format("opentype");
}



