header
{
  text-align: center;
}
body
{
  background-color: deeppink;
  align-content: center;
  
}
nav
{
    padding: 1px;
    text-align: center;
}
nav ul
{
    list-style-type: none;
    padding: 0;
}
nav ul li
{
display: inline;
margin: 0 20px;
}
nav ul li a
{
text-decortarion: none;
}    
.image-wrapper 
{
text-align: center;
}
img
{
width: 100%;
max-width: 600px; 
margin-bottom: 20px;
border: 10px solid #444;
}

.flex-container
{
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  height: 300px;
  width: %;
}
.caja 
{
  border: 1px solid black;
  background-color: white;
  color: black;   
  text-align: center;
  width: 100%;
}/*
.footer
{    
    background-image: url('file:///C:/Users/viznu/OneDrive/Documents/Asset_Web/rect8.png');
    background-repeat: repeat-x;
    background-size: cover; color: #53524aff;
    text-align: center;
}*/
.c1
{ 
  width: 100%;
  height: 10vh;
  text-align: center;
}
.c2
{
  width: 100%;
   
   justify-content:center;
   position: relative;
}

.c3
{
width: 100%;
text-align: center; 
 justify-content: flex-center;
 position: relative;
}

.c4
{
    background-image: url('file:///C:/Users/viznu/OneDrive/Documents/Asset_Web/rect8.png');
    background-repeat: repeat-x;
    background-size: cover; color: #53524aff;
    text-align: center;
    justify-content: flex-end;

    width: 100%;
    height: 10vh;
   
}


